manifest {
    name = 'RNA-seq pipeline'
    description = 'Pipeline for processing RNA-seq data'
    author = 'Martin Machyna'
    nextflowVersion = '>=22.04.0'
    version = '0.0.1'
    mainScript = 'ampliseq_pipeline.nf'
}

conda.enabled = true
nextflow.enable.dsl = 2


profiles {
    standard {
        executor = 'local'
        process.cpus = 10
    }

    cluster {
        env {
            TMPDIR = '/scratch'
            _JAVA_OPTIONS = '-Djava.io.tmpdir=/scratch'
        }
        process {
            executor = 'slurm'
            queue = 'Nodes'

            withLabel: 'single'{
                cpus = 1
                memory = '20 GB'
            }

            withLabel: 'single_mem'{
                cpus = 1
                memory = '100 GB'
             }

            withLabel: 'small' {
                cpus = 16
                memory = '100 GB'
            }

            withLabel: 'big' {
                cpus = 32
                memory = '500 GB'
            }
        }
    }
}




